---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "@/layouts/PageLayout.astro";
import Meta from "@/components/MetaContent.astro";

export async function getStaticPaths() {
	const entries = await getCollection("blog");
	return entries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { title, description, publishDate, updateDate, coverImage, coverColor } = entry.data;
const { Content } = await entry.render();
---

<Layout
	title={title}
	description={description}
	pageType="article"
	class=""
	style="--my: 0 var(--size-12)"
>
	<div
		class:list={["banner container clip rounded-conditional", !coverImage && "bg-gradient"]}
		style="--container-gap: 0px"
	>
		{coverImage && <Image src={coverImage} width={1280} height={350} loading="eager" alt="" />}
	</div>
	<div
		class="blog-title container flow text-center rounded-conditional"
		style="--container-size: calc(var(--size-content) + var(--size-16)); --container-gap: 0px"
	>
		<h1>{title}</h1>
		<Meta published={publishDate} updatedOn={updateDate} />
	</div>
	<div class="blog-content container" style="--container-size: var(--size-content)">
		<Content />
	</div>
</Layout>

<style define:vars={{ coverColor }}>
	.banner {
		--gradient-from: var(--coverColor);
		--gradient-to: var(--brand);
		--gradient-angle: 337deg;
		--radius-t: 0;
		min-block-size: var(--size-80);

		img {
			object-fit: cover;
			max-height: 350px;
		}
	}

	.blog-title {
		position: relative;
		background-color: var(--root-bg);
		padding: var(--size-8);
		margin-block-start: calc(var(--size-16) * -1);
	}

	.blog-content {
		img[src^="https://img.shields.io"]
		{
			display: inline-block;
			vertical-align: middle;
		}

		:is(h1, h2, h3) > em {
			display: block;
			font-size: 0.75em;
			font-weight: normal;
			margin-block-start: 0.375em;
			text-wrap: pretty;
		}

		.lead {
			font-size: 1.125em;
		}

		ul {
			padding-inline-start: 1em;
		}
	}
</style>
