---
import { getCollection } from "astro:content";
import Layout from "@/layouts/PageLayout.astro";
import Meta from "@/components/MetaContent.astro";
import siteConfig from "site.config";
import SocialIcons from "@/components/SocialIcons.astro";

const title = "What's New with Fylgja CSS?";
const description = "The latest news and developments from the Fylgja CSS team.";
const collection = await getCollection("blog", ({ data }) => {
	return !data.draft;
});

const blogSocials = {
	rss: "/rss.xml",
	bluesky: siteConfig.socials.bluesky,
	mastodon: siteConfig.socials.mastodon,
	twitter: siteConfig.socials.twitter,
};
---

<Layout title={title} description={description}>
	<h1>{title}</h1>
	<p>{description}</p>

	<div class="grid gap" style="--my: var(--size-8)">
		<ul role="list" class="flow">
			{
				collection.map((item) => (
					<li>
						<article class="card --elevated flow h-full" aria-labelledby={item.slug}>
							<h2>
								<a href={`/blog/${item.slug}/`} class="stretched-link">
									{item.data.title}
								</a>
							</h2>
							<Meta published={item.data.publishDate} />
							<p>{item.data.description}</p>
						</article>
					</li>
				))
			}
		</ul>
		<aside class="flow">
			<h2>Subscribe</h2>
			<p>Stay up-to-date with news from the Fylgja!</p>
			<div class="flex-wrap">
				<SocialIcons socials={blogSocials} linkClasses="btn" />
			</div>
		</aside>
	</div>
</Layout>

<style>
	@media (width >= 768px) {
		.grid {
			--gap: var(--size-12);
			grid-template-columns: minmax(0px, 3fr) minmax(0px, 1fr);
		}
	}

	.card h2 {
		--h-size: 1.5em;
	}

	aside h2 {
		--h-size: 1.25em;
	}
</style>
