---
import { getCollection } from "astro:content";
import Layout from "@/layouts/PageLayout.astro";
import Meta from "@/components/MetaContent.astro";
import siteConfig from "site.config";
import SocialIcons from "@/components/SocialIcons.astro";
import { Picture } from "astro:assets";

const title = "What's New with Fylgja CSS?";
const description = "The latest news and developments from the Fylgja CSS team.";
const allBlogPosts = await getCollection("blog", ({ data }) => {
	return !data.draft;
});

const collection = allBlogPosts.sort(
	(a, b) => Date.parse(b.data.publishDate.toString()) - Date.parse(a.data.publishDate.toString())
);

const { github, devto, ...allSocials } = siteConfig.socials;
const blogSocials = {
	rss: "/rss.xml",
	devto,
	...allSocials,
};
---

<Layout title={title} description={description}>
	<h1>{title}</h1>
	<p>{description}</p>

	<div class="grid gap" style="--my: var(--size-8)">
		<ul role="list" class="flow">
			{
				collection.map((item) => (
					<li>
						<article
							class="card --hover flex-col h-full"
							style="--sm_flex-dir: row-reverse"
						>
							{item.data.coverImage && (
								<Picture
									src={item.data.coverImage}
									width={440}
									height={220}
									alt=""
									loading="lazy"
									pictureAttributes={{
										class: "flex-none",
									}}
								/>
							)}
							<div class="card-content">
								<hgroup>
									<h2>
										<a href={`/blog/${item.slug}/`} class="stretched-link">
											{item.data.title}
										</a>
									</h2>
									<Meta published={item.data.publishDate} />
								</hgroup>
								<p>{item.data.description}</p>
							</div>
						</article>
					</li>
				))
			}
		</ul>
		<aside class="flow">
			<h2>Subscribe</h2>
			<p>Stay up-to-date with news from the Fylgja!</p>
			<div class="flex-wrap">
				<SocialIcons socials={blogSocials} linkClasses="btn" />
			</div>
		</aside>
	</div>
</Layout>

<style>
	@media (width >= 768px) {
		.grid {
			--gap: var(--size-12);
			grid-template-columns: minmax(0px, 3fr) minmax(0px, 1fr);
		}
	}

	.card {
		h2 {
			--h-size: 1.5em;
		}

		picture {
			max-block-size: 220px;

			@media (width >= 480px) {
				max-block-size: 100%;
				max-inline-size: 28%;

				img {
					object-fit: cover;
					aspect-ratio: 1;
					height: 100%;
				}
			}
		}
	}

	aside h2 {
		--h-size: 1.25em;
	}

	.aspect-square {
		aspect-ratio: 1;
		object-fit: cover;
	}
</style>
