---
import { getCollection } from "astro:content";
import Layout from "@/layouts/PageLayout.astro";
import Code from "@/components/CodeBlock.astro";
import Tabs from "@/components/Tabs.astro";

export async function getStaticPaths() {
	const entries = await getCollection("ui");
	return entries.map((entry) => ({
		params: { slug: entry.id },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { title, description, dependencies, snippet } = entry.data;
---

<Layout title={title} description={description} pageType="article">
	<h1>{title}</h1>
	<p>{description}</p>

	<Tabs class="card">
		<Fragment slot="tablist">
			<a href="#tabpanel-1" id="tab-1" role="tab"> Preview </a>
			<a href="#tabpanel-2" id="tab-2" role="tab"> Code </a>
		</Fragment>
		<div id="tabpanel-1" role="tabpanel" set:html={snippet} />
		<div id="tabpanel-2" role="tabpanel">
			<Code lang="html" code={snippet} />
		</div>
	</Tabs>

	<h2>Dependencies</h2>
	{dependencies.map((dep) => <Code lang="html" code={`npm install ${dep}`} />)}
</Layout>
