---
import Layout from "@layouts/LibraryLayout.astro";
import MetaVersion from "@components/MetaVersion.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const entries = await getCollection("library");
	return entries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { pageTitle, title, version, git, npm, changelog } = entry.data;
const { Content, headings } = await entry.render();
const hasMeta = !!git || !!npm;
---

<Layout title={title} toc={headings}>
	<h1>{pageTitle || title}</h1>
	{hasMeta && <MetaVersion version={version} git={git} npm={npm} changelog={changelog} />}
	<Content />
</Layout>
