---
import { ChevronDown } from "@lucide/astro";
import Schema from "@/components/Schema.astro";

interface Props {
	faq?: {
		question: string;
		answer: string;
	}[];
	listOnly?: boolean;
}

const { faq = [], listOnly = false } = Astro.props;

const schema = faq.length
	? {
			"@context": "https://schema.org",
			"@type": "FAQPage",
			mainEntity: faq.map(({ question, answer }) => ({
				"@type": "Question",
				name: question,
				acceptedAnswer: {
					"@type": "Answer",
					text: answer,
				},
			})),
		}
	: null;
---

{
	faq.length > 0 && listOnly && (
		<div class="faq divide-y">
			{faq.map(({ question, answer }, index) => (
				<details name="faq" open={index === 0} class="flow-none">
					<summary class="list-none flex align italic">
						<span>{question}</span>
						<ChevronDown class="toggle-rotate transition" size={20} />
					</summary>
					<p class="faq-content">{answer}</p>
				</details>
			))}
		</div>
	)
}

{
	faq.length > 0 && !listOnly && (
		<section class="faq card" aria-labelledby="faq">
			<h2 id="faq">FAQ</h2>
			<div class="divide-y">
				{faq.map(({ question, answer }, index) => (
					<details name="faq" open={index === 0} class="flow-none">
						<summary class="list-none flex align italic">
							<span>{question}</span>
							<ChevronDown class="toggle-rotate transition" size={20} />
						</summary>
						<p class="faq-content">{answer}</p>
					</details>
				))}
			</div>
		</section>
	)
}

<style>
	.faq {
		margin-block: var(--size-6);
		border-color: color-mix(in oklab, var(--root-bg) 75%, var(--root-fg));

		&.card {
			margin-block: var(--size-12);
		}

		summary {
			padding-block: var(--size-3);

			svg {
				flex-shrink: 0;
			}
		}

		.faq-content {
			padding-block: 0 var(--size-3);
		}
	}
</style>

{schema && <Schema data={schema} />}
