---
interface Props {
	siteName: string;
	title: string;
	description: string;
	image?: string;
	canonical?: string;
	themeColor?: string;
	themeColorDark?: string;
	ogType?: "website" | "article";
	ogLocal?: string;
	twitterUser?: string;
}

const {
	siteName,
	title,
	description,
	image,
	canonical = Astro.url,
	themeColor,
	themeColorDark,
	ogType = "website",
	ogLocal = "en_US",
	twitterUser,
} = Astro.props;

const date = new Date();
const dateHash = `v=${date.getMonth() + 1}-${date.getFullYear()}`;
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{title} - {siteName}</title>

	<slot />

	<link rel="canonical" href={canonical} />

	<meta name="title" content={title} />
	<meta name="description" content={description} />
	<meta name="apple-mobile-web-app-title" content={title} />

	<link rel="icon" href="/favicon.ico" sizes="32x32" />
	<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	<link rel="manifest" href={`/manifest.webmanifest?${dateHash}`} />
	{
		themeColorDark && (
			<meta
				name="theme-color"
				content={themeColorDark}
				media="(prefers-color-scheme: dark)"
			/>
		)
	}
	{themeColor && <meta name="theme-color" content={themeColor} />}

	{ogLocal !== "en_US" && <meta property="og:locale" content={ogLocal} />}
	<meta property="og:type" content={ogType} />
	<meta property="og:url" content={Astro.url} />
	<meta property="og:title" content={title} />
	<meta property="og:description" content={description} />
	{image && <meta property="og:image" content={new URL(image, Astro.url)} />}
	{image && <meta property="og:image:width" content="1200" />}
	{image && <meta property="og:image:height" content="630" />}

	<meta name="twitter:card" content="summary_large_image" />
	{twitterUser && <meta name="twitter:site" content={twitterUser} />}

	<meta name="generator" content={Astro.generator} />
</head>
