---
import { ChevronDown } from "@lucide/astro";

interface Props {
	title: string;
	items: {
		title?: string;
		items: {
			slug: string;
			data: {
				title: string;
			};
		}[];
	}[];
	urlPrefix?: string;
	class?: string;
}

const isCurrentPage = (href: string) => (Astro.url.pathname === href ? "page" : null);
const { title, items, urlPrefix, class: classes } = Astro.props;
---

<nav aria-label={`${title} Nav`} class:list={["menu", classes]}>
	<ul>
		{
			items.map((group) => {
				if (!group.items.length) return;

				if (!group.title) {
					return group.items.map((item) => (
						<li>
							<a
								class="btn w-full"
								href={item.slug ? `${urlPrefix}/${item.slug}` : urlPrefix}
								aria-current={isCurrentPage(
									`${item.slug ? `${urlPrefix}/${item.slug}` : urlPrefix}`
								)}
							>
								{item.data.title}
							</a>
						</li>
					));
				}

				return (
					<li>
						<details open>
							<summary class="list-none btn w-full">
								<span>{group.title}</span>
								<ChevronDown
									width="20"
									height="20"
									class="toggle-rotate transition"
								/>
							</summary>
							<ul>
								{group.items.map((item) => (
									<li>
										<a
											class="btn w-full"
											href={`${urlPrefix}/${item.slug}`}
											aria-current={isCurrentPage(
												`${urlPrefix}/${item.slug}`
											)}
										>
											{item.data.title}
										</a>
									</li>
								))}
							</ul>
						</details>
					</li>
				);
			})
		}
	</ul>
</nav>

<style>
	nav {
		& details :where(a.btn) {
			font-size: 0.875em;
		}

		& a[aria-current="page"] {
			--btn-bg: var(--brand);
			--btn-color: var(--on-brand);
		}
	}
</style>
