---
import GitIcon from "@/assets/icons/github.svg";
import NpmIcon from "@/assets/icons/npm.svg";
import { ScrollText, FileCode } from "@lucide/astro";

interface Props {
	version?: string;
	git?: string;
	npm?: string;
	changelog?: string;
	pathUrl?: string;
	iconSize?: number;
}

const { version, git, npm, changelog, pathUrl, iconSize = 16 } = Astro.props;
const npmUrl = npm ? `https://npmjs.com/package/${npm}` : "";
const gitRaw = "https://raw.githubusercontent.com/fylgja/site/refs/heads/main/";
const changelogUrl =
	changelog || git
		? git?.includes("/tree/main")
			? `${git}/CHANGELOG.md`
			: `${git}/tree/main/CHANGELOG.md`
		: "";
---

<div class="meta">
	{version && <span>v{version}</span>}
	{
		git && (
			<a href={git} target="_blank" rel="noopener noreferrer">
				<GitIcon width={iconSize} height={iconSize} aria-hidden="true" />{" "}
				<span>GitHub</span>
			</a>
		)
	}
	{
		npm && (
			<a href={npmUrl} target="_blank" rel="noopener noreferrer">
				<NpmIcon width={iconSize} height={iconSize} aria-hidden="true" /> <span>npm</span>
			</a>
		)
	}
	{
		changelogUrl && (
			<a href={changelogUrl} target="_blank" rel="noopener noreferrer">
				<ScrollText width={iconSize} height={iconSize} aria-hidden="true" />{" "}
				<span>Changelog</span>
			</a>
		)
	}
	{
		pathUrl && (
			<a
				href={gitRaw + pathUrl}
				aria-label="View the current page as Markdown"
				target="_blank"
				rel="noopener noreferrer"
			>
				<FileCode width={iconSize} height={iconSize} aria-hidden="true" />{" "}
				<span>View Markdown</span>
			</a>
		)
	}
</div>

<style>
	.meta {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 0.5rem 1rem;
		font-size: 0.875em;
		color: var(--text-color-muted);
		border-block-end: 2px solid var(--border-color-fade);
		padding-block-end: 0.5em;
	}

	.meta a {
		display: flex;
		align-items: center;
		gap: 0.375rem;
		text-decoration: none;
		color: color-mix(in srgb, var(--brand) 65%, var(--root-fg));

		& svg {
			color: var(--text-color-muted);
		}

		&:hover {
			color: var(--text-color);
		}
	}
</style>
