---
import siteConfig from "site.config";
import Logo from "@/assets/logo.svg?raw";
import Offcanvas from "@/components/Offcanvas.astro";
import DocSearch from "@/components/DocSearch.astro";
import ThemeToggle from "./ThemeToggle.astro";
import IconGithub from "@/assets/icons/github.svg";
import { isCurrentPage } from "@/utils";

const { ...attr } = Astro.props;
const currentPath = Astro.url.pathname;

const menu = [
	{
		label: "Library",
		path: "/library/base",
	},
	{
		label: "Docs",
		path: "/docs",
	},
	{
		label: "Blog",
		path: "/blog",
	},
];

const mobileMenu = menu;
const mobileMenuHighlists = [
	{
		label: "Base",
		path: "/library/base",
	},
	{
		label: "Tokens",
		path: "/library/tokens",
	},
	{
		label: "Utilities",
		path: "/library/utilities",
	},
];
---

<header
	id="pageHeader"
	class="page-header sticky transition"
	style="--inset-y: -1px auto; --z: var(--layer-4)"
	{...attr}
>
	<div class="flex align gap" style="--p: 1rem var(--container-gap)">
		<a href="/" class="logo" aria-label="Go back to the Fylgja Homepage">
			<Fragment set:html={Logo} />
		</a>
		<DocSearch style="--mx: auto 0; --md_mx: 0; --md_size-x: min(100%, 22rem);" />
		<div class="flex align">
			<nav
				id="desktop-menu"
				aria-label="Main Menu"
				class="menu hidden lg:block"
				style="--menu-dir: row"
			>
				{
					menu.map((item) => (
						<a
							href={item.path}
							aria-current={isCurrentPage(item.path, currentPath)}
							class="btn"
						>
							{item.label}
						</a>
					))
				}
				<ThemeToggle />
				<a href={siteConfig.socials.github} class="btn">
					<IconGithub aria-label="Checkout the Fylgja Github page" />
				</a>
			</nav>
			<Offcanvas btnClasses="lg:hidden" style="--p: 0">
				<div class="flex-col h-full">
					<div class="menu-header flex gap align flow-unset" style="--p: 1rem">
						<div class="flex-wrap gap">
							<a href={siteConfig.socials.github} class="btn">
								<IconGithub aria-label="Checkout the Fylgja Github page" />
							</a>
							<ThemeToggle />
						</div>
						<button data-close aria-label="Close Mobile Menu Drawer">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 0 24 24"
								fill="none"
								stroke="currentColor"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
								><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
							>
						</button>
					</div>
					<div
						class="flex-col divide-y divide-gap-y scroll-y"
						style="--p: 0.5rem; --grow: 1"
					>
						<div class="menu">
							{
								mobileMenu.map((item) => (
									<a
										href={item.path}
										aria-current={isCurrentPage(item.path, currentPath)}
										class="btn"
									>
										{item.label}
									</a>
								))
							}
						</div>
						<slot name="mobile-menu">
							<div class="menu">
								{
									mobileMenuHighlists.map((item) => (
										<a
											href={item.path}
											aria-current={isCurrentPage(item.path, currentPath)}
											class="btn"
										>
											{item.label}
										</a>
									))
								}
							</div>
						</slot>
					</div>
				</div>
			</Offcanvas>
		</div>
	</div>
</header>

<script>
	const pageHeader = document.getElementById("pageHeader") as HTMLElement;
	document.documentElement.style.setProperty(
		"--page-header-height",
		pageHeader.offsetHeight + "px"
	);

	const observer = new IntersectionObserver(
		([e]) => e.target.setAttribute("data-sticky", `${e.intersectionRatio < 1}`),
		{ threshold: 1 }
	);
	observer.observe(pageHeader);
</script>

<style>
	.page-header {
		border-block-end: 1px solid
			var(--page-header-stroke, color-mix(in srgb, currentcolor 10%, transparent));
		background-color: var(--page-header-bg, var(--surface-color));
		color: var(--page-header-color);

		&[data-sticky="true"] {
			--page-header-stroke: #0000;
			box-shadow: var(--shadow-4);
		}
	}

	#desktop-menu a[aria-current="page"] {
		--btn-active-bg: var(--brand-fade);
	}

	@media (prefers-color-scheme: dark) {
		html:not([data-theme="light"]) {
			--page-header-stroke: transparent;
			--page-header-bg: color-mix(in oklab, #000 56%, var(--brand));
		}
	}
</style>
