---
import siteConfig from "site.config";
import Logo from "@/assets/logo.svg?raw";
import SocialIcons from "@/components/SocialIcons.astro";

const { ...attr } = Astro.props;

const menus = [
	{
		title: "Library",
		items: [
			{
				label: "Base",
				href: "/library/base/",
			},
			{
				label: "Tokens",
				href: "/library/tokens/",
			},
			{
				label: "Utilities",
				href: "/library/utilities/",
			},
			{
				label: "Components",
				href: "/library/components/",
			},
			{
				label: "Extensions",
				href: "/library/extensions/",
			},
			{
				label: "UI components",
				href: "/ui/",
			},
		],
	},
	{
		title: "Resources",
		items: [
			{
				label: "Why Fylgja CSS",
				href: "/docs/why-fylgja/",
			},
			{
				label: "Getting Started",
				href: "/docs/",
			},
			{
				label: "Blog",
				href: "/blog/",
			},
			{
				label: "About Us",
				href: "/about-us/",
			},
		],
	},
	{
		title: "Community",
		items: [
			{
				label: "Contributing",
				href: "https://github.com/fylgja/.github/blob/main/.github/contributing.md",
			},
			{
				label: "Github Discussions",
				href: "https://github.com/orgs/fylgja/discussions",
			},
			{
				label: "Privacy",
				href: "/privacy/",
			},
			{
				label: "Accessibility",
				href: "/accessibility/",
			},
		],
	},
];
---

<footer style="--py: 2rem" {...attr}>
	<div class="container">
		<div class="main-footer">
			<div class="logo">
				<Fragment set:html={Logo} />
			</div>
			<div class="grid-cols" style="--sm_grid-cols: 2; --lg_grid-cols: 3">
				{
					menus.map((menu) => (
						<div>
							<h2>{menu.title}</h2>
							<nav aria-label={menu.title}>
								<ul>
									{menu.items.map((item) => (
										<li>
											<a href={item.href}>{item.label}</a>
										</li>
									))}
								</ul>
							</nav>
						</div>
					))
				}
			</div>
		</div>
		<hr />
		<div class="sub-footer flex flex-col align gap" style="--lg_flex-dir: row;">
			<nav aria-label="License and Contributors">
				<span>Released under</span>
				<a
					target="_blank"
					href="https://github.com/fylgja/fylgja/blob/main/LICENSE"
					class="no-underline"
				>
					MIT License
				</a>
				<span> - © 2021-present</span>
				<wbr />
				<span>Fylgja CSS and</span>
				<a
					target="_blank"
					href="https://github.com/fylgja/fylgja/graphs/contributors"
					class="no-underline"
				>
					Contributors
				</a>
			</nav>
			<SocialIcons socials={siteConfig.socials} />
		</div>
	</div>

	<style>
		footer {
			border-block-start: 1px solid color-mix(in srgb, currentcolor 20%, transparent);

			& h2 {
				--h-size: 1em;
				color: light-dark(var(--brand), currentcolor);
			}
		}

		.main-footer {
			@media (width >= 640px) {
				display: grid;
				grid-template-columns: 1fr 1fr;
			}

			@media (width >= 1024px) {
				grid-template-columns: 1.25fr 1fr;
			}
		}

		nav a {
			color: var(--text-color-muted);
			text-decoration: none;

			&:hover {
				color: var(--text-color);
			}
		}
	</style>
</footer>
