---
import SocialsIcons from "@/assets/socials.svg?url";

interface Props {
	socials: {
		[key: string]: string;
	};
}

const { socials } = Astro.props;
const links = Object.entries(socials || {});
---

{
	links.length > 0 && (
		<div class="flex flex-wrap gap">
			{links.map(([platform, url]) => {
				let label = `Follow us at ${platform}`;

				if (platform === "github") {
					label = `Star the Fylgja Repos on ${platform}`;
				}

				return (
					<a href={url} rel="me">
						<svg width="24" height="24" fill="currentcolor">
							<title>{label}</title>
							<use href={`${SocialsIcons}#${platform}`} />
						</svg>
					</a>
				);
			})}
		</div>
	)
}

<style>
	a:hover {
		opacity: 0.66;
	}
</style>
