---
import Meta from "@/components/MetaContent.astro";
import { Picture } from "astro:assets";
import TagCloud from "../TagCloud.astro";

interface Props {
	href: string;
	title: string;
	publishDate: Date;
	description: string;
	tags?: string[];
	coverImage?:
		| {
				height: number;
				width: number;
				src: string;
				format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif";
		  }
		| undefined;
}

const { href, title, publishDate, description, tags, coverImage } = Astro.props;
---

<article
	id={href}
	class="card --hover flex-col h-full"
	style={{
		"--sm_flex-dir": "row-reverse",
		viewTransitionName: href,
	}}
>
	{
		coverImage && (
			<Picture
				src={coverImage}
				width={440}
				height={220}
				alt=""
				loading="lazy"
				pictureAttributes={{
					class: "flex-none",
				}}
			/>
		)
	}
	<div class="card-content">
		<hgroup>
			<h2>
				<a href={`/blog/${href}/`} class="stretched-link">
					{title}
				</a>
			</h2>
			<Meta published={publishDate} />
		</hgroup>
		<p>{description}</p>
		<div class="text-muted text-sm">
			{tags && tags.length > 0 && <TagCloud tags={tags} tagClass="text-sm" allUrl={false} />}
		</div>
	</div>
</article>

<style>
	.card {
		h2 {
			--h-size: 1.5em;
		}

		picture {
			max-block-size: 220px;

			@media (width >= 480px) {
				max-block-size: 100%;
				max-inline-size: 28%;

				img {
					object-fit: cover;
					aspect-ratio: 1;
					height: 100%;
				}
			}
		}

		.card-content {
			flex-grow: 1;
		}
	}
</style>
