---
import { getCollection } from "astro:content";
import siteConfig from "site.config";
import BlogCard from "@/components/Blog/Card.astro";
import Layout from "@/layouts/PageLayout.astro";
import SocialIcons from "@/components/SocialIcons.astro";
import TagCloud from "@/components/TagCloud.astro";

export async function getStaticPaths() {
	const allBlogPosts = await getCollection("blog", ({ data }) => !data.draft);
	const allTags = allBlogPosts.flatMap((post) => post.data.tags).filter(Boolean);
	const uniqueTags = [...new Set(allTags)];

	return uniqueTags.map((tag) => ({
		params: { tag },
		props: { tag },
	}));
}

const { tag } = Astro.props;
const allBlogPosts = await getCollection("blog", ({ data }) => !data.draft);

const collection = allBlogPosts
	.filter((post) => post.data.tags.includes(tag))
	.sort(
		(a, b) =>
			Date.parse(b.data.publishDate.toString()) - Date.parse(a.data.publishDate.toString())
	);

const allTags = allBlogPosts.flatMap((post) => post.data.tags).filter(Boolean);
const uniqueTags = [...new Set(allTags)].sort();

const title = `Posts tagged with "${tag}"`;
const description = `Find all posts tagged with "${tag}"`;

const { github, ...allSocials } = siteConfig.socials;
const blogSocials = {
	rss: "/rss.xml",
	...allSocials,
};
---

<Layout {title} {description}>
	<h1>{title}</h1>
	<p>{description}</p>

	<div class="grid gap" style="--my: var(--size-8)">
		<ul role="list" class="flow">
			{
				collection.map((item) => (
					<li>
						<BlogCard
							href={item.slug}
							coverImage={item.data.coverImage}
							title={item.data.title}
							description={item.data.description}
							publishDate={item.data.publishDate}
						/>
					</li>
				))
			}
		</ul>
		<aside class="flow">
			<div class="flow">
				<hgroup class="flow">
					<h2>Subscribe</h2>
					<p>Stay up-to-date with news from the Fylgja!</p>
				</hgroup>
				<div class="flex-wrap">
					<SocialIcons socials={blogSocials} linkClasses="btn" />
				</div>
			</div>
			{
				uniqueTags.length > 0 && (
					<div>
						<h2>Filter by Tag</h2>
						<TagCloud tags={uniqueTags} active={tag} />
					</div>
				)
			}
		</aside>
	</div>
</Layout>
<style>
	@media (width >= 768px) {
		.grid {
			--gap: var(--size-12);
			grid-template-columns: minmax(0px, 3fr) minmax(0px, 1fr);
		}
	}

	aside {
		--flow: 2em;
	}

	aside hgroup {
		--flow: 0.5em;
	}

	aside h2 {
		--h-size: 1.25em;
	}
</style>
