---
import Head from "@/components/Head.astro";
import siteConfig from "site.config";
import defaultSocialImage from "@/assets/default-social-img.png";

interface Props {
	title: string;
	description?: string;
	image?: string;
	pageType?: "website" | "article";
	lang?: string;
	dir?: "ltr" | "rtl";
}

const {
	title,
	description = siteConfig.description,
	image = defaultSocialImage.src,
	pageType = "website",
	lang = "en",
	dir = "ltr",
} = Astro.props;
---

<html lang={lang} dir={dir} data-theme="auto">
	<Head
		siteName={siteConfig.name}
		title={title}
		description={description}
		image={image}
		themeColor={siteConfig.themeColor}
		themeColorDark={siteConfig.themeColorDark}
		ogType={pageType}
	>
		<meta name="generator" content="Fylgja CSS" />
		<meta name="fediverse:creator" content="@fylgja@fosstodon.org" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title=""
			href={new URL("blog/feed.xml", Astro.site)}
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<slot name="head" />
		<script is:inline>
			function getColorScheme() {
				const preference = localStorage.getItem("theme-preference");
				return preference
					? preference
					: window.matchMedia("(prefers-color-scheme: dark)").matches
						? "dark"
						: "light";
			}

			document.documentElement.setAttribute("data-theme", getColorScheme());

			window.addEventListener("load", () => {
				if ("serviceWorker" in navigator) {
					navigator.serviceWorker.register("/sw.js");
				}
			});
		</script>
	</Head>
	<body>
		<slot />
	</body>
</html>
