---
import Head from "@components/Head.astro";
import siteConfig from "site.config";

interface Props {
	title: string;
	description?: string;
	lang?: string;
	dir?: "ltr" | "rtl";
}

const { name, description: siteDescription, themeColor, themeColorDark } = siteConfig;
const { title, description = siteDescription, lang = "en", dir = "ltr" } = Astro.props;
---

<html lang={lang} dir={dir} data-theme="auto">
	<Head
		siteName={name}
		title={title}
		description={description}
		themeColor={themeColor}
		themeColorDark={themeColorDark}
	>
		<meta name="generator" content="Fylgja CSS" />
		<link
			rel="alternate"
			type="application/rss+xml"
			title=""
			href={new URL("feed.xml", Astro.site)}
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<slot name="head" />
		<script is:inline>
			function getColorScheme() {
				const preference = localStorage.getItem("theme-preference");
				return preference
					? preference
					: window.matchMedia("(prefers-color-scheme: dark)").matches
						? "dark"
						: "light";
			}

			document.documentElement.setAttribute("data-theme", getColorScheme());

			window.addEventListener("load", () => {
				if ("serviceWorker" in navigator) {
					navigator.serviceWorker.register("/sw.js");
				}
			});
		</script>
	</Head>
	<body>
		<slot />
	</body>
</html>
