---
import "@/assets/main.css";
import Layout from "./BlankLayout.astro";
import PageFooter from "@/components/PageFooter.astro";
import PageHeader from "@/components/PageHeader.astro";
import SkipLink from "@/components/SkipLink.astro";

interface Props {
	title: string;
	description?: string;
	pageType?: "website" | "article";
	class?: string;
	style?: string;
	redirect?: URL;
}
const {
	title,
	description,
	pageType = "website",
	class: classes = "container",
	style,
	redirect,
} = Astro.props;
---

<Layout title={title} description={description} pageType={pageType}>
	{
		redirect ? (
			<Fragment slot="head">
				<meta http-equiv="refresh" content={`0;url=${redirect}`} />
				<meta name="robots" content="noindex" />
				<link rel="canonical" href={redirect} />
				<slot name="head" />
			</Fragment>
		) : (
			<slot name="head" slot="head" />
		)
	}
	<SkipLink id="main-content" title="Skip to content" />
	<PageHeader />
	<main id="main-content" class={classes} style={style}>
		<slot />
	</main>
	<PageFooter />
</Layout>
